# OS Junk
[Tt]humbs.db
*.DS_Store

# Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
.vs/

# Visual Studio Code files
.vscode/

# Coverity Scan files
cov-int/

# MonoDevelop
*.pidb
*.userprefs

# Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
.settings/

# Project files
[Bb]uild/

# Subversion files
.svn

# Office Temp Files
~$*

# NuGet
packages/
release/

# NCrunch
*ncrunch*
*crunch*.local.xml

# Visual Studio Database Projects
*.dbmdl
