<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Lead Pipe Software Rules" Description=" " ToolsVersion="11.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1008" Action="Error" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1013" Action="Warning" />
    <Rule Id="CA1016" Action="Error" />
    <Rule Id="CA1021" Action="Warning" />
    <Rule Id="CA1031" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1041" Action="Error" />
    <Rule Id="CA1044" Action="Error" />
    <Rule Id="CA1046" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1050" Action="Error" />
    <Rule Id="CA1051" Action="Error" />
    <Rule Id="CA1058" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1064" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1304" Action="Warning" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1501" Action="Warning" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA1504" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1700" Action="Error" />
    <Rule Id="CA1701" Action="Warning" />
    <Rule Id="CA1702" Action="Warning" />
    <Rule Id="CA1703" Action="Warning" />
    <Rule Id="CA1704" Action="Warning" />
    <Rule Id="CA1707" Action="Error" />
    <Rule Id="CA1710" Action="Warning" />
    <Rule Id="CA1711" Action="Warning" />
    <Rule Id="CA1715" Action="Error" />
    <Rule Id="CA1716" Action="Error" />
    <Rule Id="CA1719" Action="Error" />
    <Rule Id="CA1720" Action="Error" />
    <Rule Id="CA1721" Action="Error" />
    <Rule Id="CA1722" Action="Error" />
    <Rule Id="CA1725" Action="Warning" />
    <Rule Id="CA1726" Action="Warning" />
    <Rule Id="CA1800" Action="Warning" />
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA1804" Action="Error" />
    <Rule Id="CA1806" Action="Warning" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1821" Action="Error" />
    <Rule Id="CA1823" Action="Error" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA2200" Action="Error" />
    <Rule Id="CA2201" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2204" Action="Warning" />
    <Rule Id="CA2205" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2220" Action="Error" />
    <Rule Id="CA2221" Action="Error" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2232" Action="Error" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="Error" />
    <Rule Id="CA2240" Action="Error" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Error" />
  </Rules>
</RuleSet>