<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- ============================================================================================================= -->
	<!-- CONNECTION STRINGS -->
	<!-- ============================================================================================================= -->
	<connectionStrings>
		<add name="11-UnitTest.TestConnection"
				 connectionString="Data Source=LeadPipe.Net.Tests.db;"
				 providerName="System.Data.SQLite" />
	</connectionStrings>
	<!-- ============================================================================================================= -->
	<!-- APPLICATION SETTINGS -->
	<!-- ============================================================================================================= -->
	<appSettings>		
		<add key="Context"
				 value="11-UnitTest" />
		<add key="UnitTestPlain"
				 value="UnitTestPlain.VALUE" />
		<add key="11-UnitTest.UnitTestLocationSpecific"
				 value="11-UnitTest.UnitTestLocationSpecific.VALUE" />
		<add key="17-UnitTest.UnitTestLocationSpecific"
				 value="17-UnitTest.UnitTestLocationSpecific.VALUE" />
		<add key="UnitTestLocationSpecific"
				 value="DEFAULT.UnitTestLocationSpecific.VALUE" />
		<add key="11-UnitTest.UnitTestParsed"
				 value="11-UnitTest.{PARSE THIS} AND NOT THIS" />
		<add key="17-UnitTest.UnitTestParsed"
				 value="17-UnitTest.{PARSE THIS} AND NOT THIS" />
		<add key="UnitTestParsed"
				 value="DEFAULT.{PARSE THIS} AND NOT THIS" />
	</appSettings>
</configuration>